__pycache__
*.egg-info
.cache
.coverage
_*.c
*.[oax]
*.so
*.dylib
*.dll
*.mod
*.obj
*.pdf
a.out
launch.json
*.pyc
coverage.xml
.eggs
.codacy-coverage
cobertura.xml
codacy-coverage.json
draft/_test_strings.dylib
.mypy_cache
.*.sw*
settings.json
.vscode
codacy-coverage-reporter
